! x config
Xcursor.theme: gentoo
Xcursor.size: 24

! URxvt

! General settings
URxvt.saveLines: 100000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt*termName: rxvt-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: True
URxvt.iso14755: False
URxvt.internalBorder: 30
! urls
URxvt*depth: 32
!URxvt.transparent: true
!URxvt.shading: 10

! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! Keybindings
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.keysym.Mod4-C-v: perl:clipboard:paste_escaped
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.M-u: perl:url-select:select_next

! Font

URxvt.font: xft:Hack:pixelsize=14,style=regular xft:Ionicons:pixelsize=14 xft:FontAwesome:pixelsize=14 xft:Siji:pixelsize=14 xft:unicode:pixelsize=14
URxvt.boldFont: xft:Hack:pixelsize=14,style=bold  
URxvt.letterSpace: -1
Xft*dpi: 96
Xft*antialias: True
Xft*hinting: Full

! colors

URxvt*background: [85]#434871
URxvt.foreground: #f3f4f5

URxvt.color0  : #b2628c
URxvt.color8  : #b2628c
URxvt.color1  : #7b51dd
URxvt.color9  : #7b51dd
URxvt.color2  : #d35a7c 
URxvt.color10 : #d35a7c 
URxvt.color3  : #da6c94
URxvt.color11 : #da6c94
URxvt.color4  : #9763f6
URxvt.color12 : #9763f6
URxvt.color5  : #3c3660 
URxvt.color13 : #3c3660 
URxvt.color6  : #9f436c 
URxvt.color14 : #9f436c 
URxvt.color7  : #322d51 
URxvt.color15 : #322d51 
#URxvt.color0  : #772549
#URxvt.color8  : #772549
#URxvt.color1  : #9f436c 
#URxvt.color9  : #9f436c 
#URxvt.color2  : #d35a7c 
#URxvt.color10 : #d35a7c 
#URxvt.color3  : #da6c94
#URxvt.color11 : #da6c94
#URxvt.color4  : #9763f6
#URxvt.color12 : #9763f6
#URxvt.color5  : #7b51dd
#URxvt.color13 : #7b51dd
#URxvt.color6  : #3c3660 
#URxvt.color14 : #3c3660 
#URxvt.color7  : #322d51 
#URxvt.color15 : #322d51 
